* {
  box-sizing: border-box;
}

.wrap {
  background: #fff;
  border-radius: 2px;
  border: 2px solid #e0e0e0;
  padding: 20px 30px;
  width: 400px;
}

h1,
h2 {
  text-align: center;
  margin-top: 0;
}

h1 {
  color: #494949;
  font-size: 24px;
}

h2 {
  color: #ccc;
  font-size: 14px;
}

button {
  background-color: #37a000;
  border-radius: 2px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  margin: 20px auto 0;
  padding: 12px 38px;
  width: 45%;
}

button:hover{
  background-color: #008329;
}
